{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="mb-3">
                {{ form.title.label(class="form-label") }}
                {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.content.label(class="form-label") }}
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.picture.label(class="form-label") }}
                {{ form.picture(class="form-control") }}
                {% if form.picture.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.picture.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3 form-check">
                {{ form.is_pinned(class="form-check-input") }}
                {{ form.is_pinned.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="mt-4">
            {{ form.submit(class="btn btn-main") }}
        </div>
    </form>
</div>
{% endblock content %}